<div class="container mt-5">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header h2 text-center">
            Todo List App
        </div>
        <div class="card-body">
           <table class="table text-center">
            <thead class='h4'>
              <th>Id</th>
              <th>Task</th>
              <th colspan="3">Action</th>
            </thead>
            <tbody class='h5'>
            <% @lists.each do |list| %>
                <tr>
                 <td> <%= list.id %></td>
                <td> <%= list.task %></td>
                <td class='btn btn-info btn-lg m-2'>  <%= link_to 'Show', list %></td>
                <td class='btn btn-secondary btn-lg  m-2'>  <%= link_to 'Edit', list %></td>
               <td class='btn btn-danger btn-lg  m-2'>  <%= button_to 'Delete', dellist_path(list.id) , method: :delete %></td>
              </tr>
            <% end%>
            </tbody>
           </table>
        </div>
      </div>
    </div>
</div>
